.upload-btn {
  color: white;
  background-color: #E0660F;
  border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: white !important;
  background-color: #CC5B0B;
  border: none;
}

.folder-btn {
  color: white;
  background-color: #0EB94B;
  border: none;
}

.folder-btn:hover,
.folder-btn:focus,
.folder-btn:active,
.folder-btn.active {
  color: white !important;
  background-color: #119640;
  border: none;
}

.download-btn {
  color: white;
  background-color: #BF34EC;
  border: none;
}

.download-btn:hover,
.download-btn:focus,
.download-btn:active,
.download-btn.active {
  color: white !important;
  background-color: #8B25AD;
  border: none;
}

.delete-btn {
  color: white;
  background-color: #D9534F;
  border: none;
}

.delete-btn:hover,
.delete-btn:focus,
.delete-btn:active,
.delete-btn.active {
  color: white !important;
  background-color: #B94845;
  border: none;
}

.edit-btn {
  color: white;
  background-color: #CCB43D;
  border: none;
}

.edit-btn:hover,
.edit-btn:focus,
.edit-btn:active,
.edit-btn.active {
  color: white !important;
  background-color: #B7A23A;
  border: none;
}

.upload-btn, .folder-btn, .download-btn, .edit-btn {
  margin-left: 7px;
}