<!-- META TAGS -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="Cache-control" content="public">
<!-- CSS STYLES -->
<link href='styles/wrapper.css' rel='stylesheet' type='text/css'>
<link href='styles/comfortaa.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="styles/unite-gallery.css" />
<link rel="stylesheet" type="text/css" href="styles/ug-theme-default.css" />
<!-- JS FILES -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/unitegallery.js"></script>
<script type="text/javascript" src="scripts/ug-theme-default.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>