<!DOCTYPE html>
<html>
<head>
	<title>CPK Files | Transfer files to and from your server</title>
	<%- partials.meta %>
</head>
<body>
	<%- partials.header %>
	<%- partials.aside %>
	<div class="container" style="height: 75px; border-bottom: 1px solid white;">
		<div class="row" style="margin: 15px 0px;">
			<div class="col-sm-6">
				<div class="pull-left">
					<h2 id="lbl_page" style="color: white; margin-top: 0px;">videos</h2>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="pull-right">	
					<button class="btn folder-btn" type="button">New Folder</button>
					<button class="btn upload-btn" type="button">Upload Files</button>	
				</div>
			</div>
		</div>
  		<input id="upload-input" type="file" name="uploads[]" multiple="multiple" style="display: none;"></br>
	</div>
	<div class="full-page" cpk-page="videos">
		
	</div>
	<div class="full-page" cpk-page="pictures" style="display: none;">
		
	</div>
	<div class="full-page" cpk-page="documents" style="display: none;">
		
	</div>
	<div class="full-page" cpk-page="music" style="display: none;">
		
	</div>
	<div class="modal" id="mdl_new_folder" role="dialog" style="display: none;">
        <div class="modal-dialog" style="margin-top: 125px; background-color: black; border-radius: 6px;">
			<div>
				<div class="modal-header" style="color: white;">
					Add New Folder
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label style="color: white;">Name:</label>
						<input id="in_new_folder" type="text" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" style="float: right;" onclick="add_folder();">Add</button>
					<button class="btn btn-danger" style="float: right; margin-right: 10px;" onclick="toggle_mdl_new_folder();">Cancel</button>
				</div>
			</div>
        </div>
    </div>
</body>
</html>
