<!DOCTYPE html>
<html>
<head>
	<title>CPK Files | Transfer files to and from your server</title>
	<%- partials.meta %>
</head>
<body>
	<style>
	.icon_container {
		height: 75px; 
		border-bottom: 1px solid white;
	}
	@media(max-width: 450px) {
		#lbl_page_container, #icon_list_container {
			width: 100%;
			text-align: center;
		}
		.icon_container {
			height: 125px;
		}
	}
	</style>
	<%- partials.header %>
	<%- partials.aside %>
	<div class="container icon_container">
		<div class="row" style="margin: 15px 0px;">
			<div class="col-md-6">
				<div id="lbl_page_container" class="pull-left">
					<h2 id="lbl_page" style="color: white; margin-top: 0px;">videos</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div id="icon_list_container" class="pull-right">	
					<button class="btn delete-btn" type="button" cpk-flag="when_selected-all" style="display: none;" onclick="fserve.delete_files();">
						<i class="fa fa-times"></i>
					</button>
					<button class="btn download-btn" type="button" cpk-flag="when_selected-sngl" style="display: none;" onclick="fserve.download_files();">
						<i class="fa fa-download"></i>
					</button>
					<button class="btn edit-btn" type="button" cpk-flag="when_selected-sngl" style="display: none;" onclick="toggle_mdl_rename_file();">
						<i class="fa fa-pencil"></i>
					</button>
					<button class="btn folder-btn" type="button"><i class="fa fa-plus"></i></button>
					<button class="btn upload-btn" type="button"><i class="fa fa-upload"></i></button>
				</div>
			</div>
		</div>
  		<input id="upload-input" type="file" name="uploads[]" multiple="multiple" style="display: none;"></br>
	</div>
	<div class="full-page" cpk-page="videos">
		
	</div>
	<div class="full-page" cpk-page="pictures" style="display: none;">
		
	</div>
	<div class="full-page" cpk-page="documents" style="display: none;">
		
	</div>
	<div class="full-page" cpk-page="music" style="display: none;">
		
	</div>
	<div class="modal" id="mdl_new_folder" role="dialog" style="display: none;">
        <div class="modal-dialog" style="margin-top: 125px; background-color: black; border-radius: 6px;">
			<div>
				<div class="modal-header" style="color: white;">
					Add New Folder
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label style="color: white;">Name:</label>
						<input id="in_new_folder" type="text" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" style="float: right;" onclick="add_folder();">Add</button>
					<button class="btn btn-danger" style="float: right; margin-right: 10px;" onclick="toggle_mdl_new_folder();">Cancel</button>
				</div>
			</div>
        </div>
    </div>
	<div class="modal" id="mdl_rename_file" role="dialog" style="display: none;">
        <div class="modal-dialog" style="margin-top: 125px; background-color: black; border-radius: 6px;">
			<div>
				<div class="modal-header" style="color: white;">
					Rename File
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label style="color: white;">Name:</label>
						<input id="in_new_name" type="text" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" id="submit_rename" style="float: right;">Rename</button>
					<button class="btn btn-danger" style="float: right; margin-right: 10px;" onclick="toggle_mdl_rename_file();">Cancel</button>
				</div>
			</div>
        </div>
    </div>
</body>
</html>
