<aside id="cpk_aside" style="display: none;">
	<div class="container aside_container">
		<div style="clear:both;">
			<div class="row menu_row">
				<div class="aside_link" link-page="videos" style="border-top: 1px solid white;">
					<div class="menu_value text-center">Videos</div>	
				</div>
			</div>
			<div class="row menu_row">
				<div class="aside_link" link-page="pictures">
					<div class="menu_value text-center">Pictures</div>	
				</div>
			</div>
			<div class="row menu_row">
				<div class="aside_link" link-page="documents">
					<div class="menu_value text-center">Documents</div>	
				</div>
			</div>
			<div class="row menu_row">
				<div class="aside_link" link-page="music">
					<div class="menu_value text-center">Music</div>	
				</div>
			</div>
		</div>
	</div>
</aside>