<style>
	.icon-row {
		width: 80%; 
		margin: 0 auto; 
		clear: both; 
		text-align: center;
		color: white;
		padding-top: 15px;
	}
	.icon-row > span {
		word-wrap: break-word;
	}
	.icon-block {
		height: 125px;
		overflow: hidden;
	}
	.fa-folder {
		color: #388989;
	}
	.fa-file {
		color: white;
	}
	.selected_block {
		background-color: blue;
	}
</style>
<div class="container" style="margin-top: 25px; margin-bottom: 35px;">
	<div class="row">
		{{#each folders}}
			<div class="col-lg-2 col-md-3 col-sm-4" icon-file="{{this}}">
				<div class="icon-block drag_me drop_here">
					<div class="icon-row">
						<i class="fa fa-folder fa-3x" name="{{this}}"></i>
					</div>
					<div class="icon-row">
						<span name="{{this}}">{{this}}</span>
					</div>
				</div>
			</div>
		{{/each}}
		{{#each files}}
			<div class="col-lg-2 col-md-3 col-sm-4" icon-file="{{this}}">
				<div class="icon-block drag_me">
					<div class="icon-row">
						<i class="fa fa-file-o fa-3x" name="{{this}}"></i>
					</div>
					<div class="icon-row">
						<span name="{{this}}">{{this}}</span>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>