<aside id="cpk_aside" style="display: none;">
	<div class="container aside_container">
		<div style="clear:both;">
			<div class="row menu_row">
				<div class="aside_link" link-page="show_list" style="border-top: 1px solid white;">
					<div class="menu_value text-center">Show List</div>	
				</div>
			</div>
			<div class="row menu_row">
				<div id="lnk_vid_player" class="aside_link" link-page="video_player">
					<div class="menu_value text-center">Video Player</div>	
				</div>
			</div>
		</div>
	</div>
</aside>