<header class="header-two-bars">	
	<div class="header-first-bar">
		<div class="header-limiter">
			<div class="options_button" onclick="common.toggle_aside();">
				<i class="fa fa-bars"></i>
			</div>
			<h1><a href="/">CPK<span style="margin-left: 5px;">Local</span></a></h1>
			<div class="search_sample" onclick="alert('implement');">
				<i class="fa fa-search"></i>
			</div>
			<input id="search_mixed" class="search_box_sample" placeholder="Try me!" type="text" />
		</div>
	</div>
	<div class="header-second-bar" style="display: none;">					
	</div>
</header>