<aside id="cpk_aside" style="display: none;">
	<div class="container aside_container">
		<div style="clear:both;">
			<div class="row menu_row">
				<div class="aside_link" link-page="listen" style="border-top: 1px solid white;">
					<div class="menu_value text-center">Music List</div>	
				</div>
			</div>
			<div class="row menu_row">
				<div id="lnk_download" class="aside_link" link-page="download">
					<div class="menu_value text-center">Download Music</div>	
				</div>
			</div>
		</div>
	</div>
</aside>