@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* Scrollbar */ 

::-webkit-scrollbar{width: 6px;}

::-webkit-scrollbar-thumb{background-color:rgb(197, 197, 197); border-radius: 2px;}
::-webkit-scrollbar-thumb:hover{background-color:rgb(220, 220, 220); cursor: pointer;}

::-webkit-scrollbar-track{background-color:rgb(26, 26, 26); width: 3px;}


/* End Scrollbar */

/* Imported Theme - 2 Header Bars / Black and Blue Design */

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color: transparent !important;
	background: url('../images/bgtile.png') !important;
}

.btn {
	border: 0;
	border-radius: 0 !important;
	border-color: transparent;
	outline: 0;
}

.btn-danger,
.btn-success {
	border-color: transparent;
}

.modal-header,
.btn {
	font-family: 'Comfortaa', 'Helvetica', sans-serif;
}

.btn_atg, .btn_dfg {
    width: 75px;
}
.overflow-horizontal {
	overflow-x: scroll;
    width: 100%;
    width: 100vw;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #D6D6D6 inset !important;
}
/*-webkit-text-fill-color:  !important;*/

.container-fluid {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

@media (max-width: 768px) {
	.cpk_data_container, .cpk_img_container, .cpk_show_container {
		padding-left: 5 !important;
		padding-right: 5 !important;
	}	
}


.body-height {
	height: 420px; 
}

.admin-panel{
	text-align: center;
	/* overflow-y: auto; */
    max-height: calc(100% - 84px);
	height: 100%;
    margin-top: 80px;
}

@media (max-width: 769px) {
	.admin-panel {
		margin-top: 140px;
	}
}

.admin-panel h1{
	margin-top:0;
	font: normal 32px/1.5 'Comfortaa', 'Helvetica', sans-serif;
	color: #3F71AE;
	padding-bottom: 16px;
}

.admin-panel h2{
	color: #F05283;
}

.admin-panel h2 a{
	color:inherit;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #F05283;
	padding: 10px 15px;
	border-radius: 3px;
	font: bold 14px/1 'Comfortaa', 'Helvetica', sans-serif;
	text-transform: uppercase;
}

.admin-panel h2 a:hover{
	background-color:#F05283;
	transition:0.2s;
	color:#fff;
}

.header-two-bars{
	font:13px Arial, Helvetica, sans-serif;
	/*padding-bottom: 10px;*/
}

.header-two-bars .header-limiter{
	max-width: 1920px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-two-bars h1{
	/* float: left; */
	line-height: 44px;
	/* margin: 0; */
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.header-two-bars h1 span {
	color: #F3383A;
}

/* The first bar */

.header-two-bars .header-first-bar{
	background-color:#242424;
	padding: 20px 10px 10px 0px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.header-two-bars .header-first-bar a {
	color: #ffffff;
	text-decoration: none;
	font-family: 'Comfortaa', 'Helvetica', sans-serif;
}

@media (max-width: 480px) {
	.header-two-bars .header-first-bar a {
		font-size: 25px;
		margin-top: 20px;
	}
}

.header-two-bars .header-first-bar nav {
	font:14px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-two-bars .header-first-bar nav a{
	display: inline-block;
	padding: 0 5px;
	opacity: 0.9;
	text-decoration:none;
	line-height: 1;
}

.header-two-bars .header-first-bar nav a:hover {
	opacity: 1;
}

.header-two-bars .header-first-bar nav a.selected {
	border-radius: 2px;
	background-color: #2B5773;
	padding: 8px 12px;
}

.header-two-bars .header-first-bar a.logout-button {
	font-size: 13px;
	font-weight: bold;
	float: right;
	border-radius: 3px;
	background-color: rgba(58, 60, 62, 0);
	height: 40px;
	padding: 0 20px;
	border: 1px solid #5E6367;
	line-height: 40px;
	box-sizing: border-box;
}


/* Second Bar */

.header-two-bars .header-second-bar {
	background-color: black;
	box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.05);
	padding: 20px 40px;
}

.header-two-bars .header-second-bar h2 {
	line-height: 20px;
	margin: 0;
	float: left;
}

.header-two-bars .header-second-bar h2 a {
	font-size: 16px;
	color: #4e5359;
	text-decoration: none;
}

.header-two-bars .header-second-bar nav {
	text-align: right;
	line-height: 20px;
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.header-two-bars .header-second-bar nav a {
	display: none;
	color: white;
	text-decoration: none;
}

.header-two-bars .header-second-bar nav i.fa {
	color: #A9B7BF;
	margin: 0 4px 0 15px;
}

/* CloudSpire Technologies - Custom CSS */

.point {
	cursor: pointer;
}

.settings_panel {
	width: 100%;
    color: lightgrey;
    padding-left: 30px;
	padding-right: 30px;
}

.login-box {
	margin-left: 30%; 
	margin-right: 30%; 
	padding-top: 75px; 
	padding-bottom: 75px; 
	border: 1px solid gray;
}

#display_box {
	width: 100%;
    height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
}

.search_sample {
	font-size: 13px;
    font-weight: bold;
    float: right;
    padding: 0 18px;
    border: 1px solid #5E6367;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
	cursor: pointer;
	height: 48px;
	color: white;
	background: transparent;
	-webkit-transition: background 500ms ease .3s;
    -moz-transition: background 500ms ease .3s;
    -o-transition: background 500ms ease .3s;
    transition: background 500ms ease .3s;
}

@media (min-width: 769px) {
	.search_sample:hover,
	.search_sample:focus {
		background: rgba(255, 255, 255, .125);
		-webkit-transition: background 500ms ease .3s;
    -moz-transition: background 500ms ease .3s;
    -o-transition: background 500ms ease .3s;
    transition: background 500ms ease .3s;
	}
}

.options_button {
	font-size: 13px;
    font-weight: bold;
    background-color: rgba(58, 60, 62, 0);
    padding: 0 20px;
    border: 1px solid #5E6367;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
	cursor: pointer;
	position: absolute;
    left: 10px;
    top: 17px;
    height: 46px;
    margin-right: 20px;
    width: 51px;
}




.search_box_sample {
	float: right;
    line-height: 28px;
    margin-right: 10px;
    color: black;
    width: 365px;
    padding: 10px 15px;
    font-size: 20px;
    font-size: 2.0rem;
    outline: 0 !important;
    font-family: 'Comfortaa', 'Helvetica', sans-serif;
    border: none;

}

@media (max-width: 1920px) {
	.search_box_sample {
		width: 650px !important;
	}
}

@media (max-width: 1400px) {
	.search_box_sample {
		width: 555px !important;
	}
}

@media (max-width: 1200px) {
	.search_box_sample {
		width: 435px !important;
	}
}

@media (max-width: 992px) {
	.search_box_sample {
		width: 325px !important;
	}
}

@media (max-width: 768px) {
	.search_box_sample {
		padding: 0 63px 0 11px;
	}
	.admin-panel{
		max-height: calc(100% - 128px);
	}
	.bin_type_1 {
		margin-top: 10px;
	}
}

.search_box_sample:focus {
	outline: 0;
}

aside {
	position: absolute;
	top: 80;
	left: 0;
	width: 299px;
    height: calc(100% - 80px);
	background-color: #242424;
	z-index: 9999;
	border: none;
}

.menu_key {
	font-size: 16px;
    color: #F3383A;
    font-family: 'Comfortaa', 'Helvetica', sans-serif;
}

.menu_value {
	color: white;
	cursor: pointer;
	width: 285px;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Comfortaa', 'Helvetica', sans-serif;
}

@media (max-width: 500px) {
	.menu_value {
		width: 284px !important;
		margin-left: -15px;
	}
}

.menu_row {
    max-width: 314px;
}

.menu_row i {
	color: #F3383A;
	cursor: pointer;
	padding: 4px;
	font-size: 19px;
}

/*	Media Queries*/

@media all and (min-width: 767px) {
	nav {
		
	}
	
	.header-two-bars h1{
		position: absolute;
		top: 0;
		left: 80px;
	}
	
	.options_button {
		top: 18px !important;
	}
}

@media all and (max-width: 800px) {

	.header-two-bars .header-second-bar nav{
		font-size:14px;
	}

}

@media all and (max-width: 769px) {
	.header-two-bars {
		height: 128px;
	}

	.header-two-bars .header-first-bar{
		padding:20px 0;
	}

	.header-two-bars .header-first-bar h1 {
		float: none;
		margin: 0 auto;
		font-size: 34px;
		line-height: 1;
		display: block;
		text-align: center;
		width: 100%;
		position: absolute;
		left: 50%;
		top: 30px;
		max-width: 200px;
		margin-left: -100px;
	}

	.header-two-bars .header-first-bar nav {
		margin: 0;
		float: none;
		font-size:13px;
	}

	.header-two-bars .header-first-bar nav a.selected {
		padding: 5px 8px;
	}

	.header-two-bars .header-first-bar .logout-button {
		display: none;
	}

	.header-two-bars .header-second-bar{
		padding-top: 2px;
		padding-bottom: 20px;
	}

	.header-two-bars .header-second-bar h2{
		float:none;
		margin: 0 0 12px;
	}

	.header-two-bars .header-second-bar nav{
		text-align: center;
	}

	.header-two-bars .header-second-bar nav a{
		display: block;
		padding: 8px;
	}

	.header-two-bars .header-second-bar nav i.fa{
		margin-left:0;
	}
	
	.search_sample {
		position: absolute;
		right: 0px;
		margin: 0;
		top: 81px;
		z-index: 99;
		border: none;
		border-left: 1px solid #5E6367;
		background: rgba(0, 0, 0, .5);
		color: white;
		width: 61px;
	}
	
	.search_box_sample {
		top: 81px;
		width: 100% !important;
		position: absolute;
		left: 0;
		padding: 9px 60px 10px 10px;
	}
	
	.pad_results {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
}

@media (max-width: 600px) {
	.admin-panel {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.search_box_sample {
		width: 73%;
	}
}

@media (max-width: 600px) {
	.pad_results {
		width: 96%;
	}
}

@media (max-width: 500px) {
	aside  {
		width: 100%;
		border: none;
	}
}

.selected .select-type-btn {
	background: rgba(255, 255, 255, .25);
}

.select-type-btn {
    width: 33%;
    float: left;
    text-align: center;
	font-family: 'Comfortaa', 'Helvetica', sans-serif;
	color: white;
	border: 1px solid white;
	padding: 6px;
	border-right: 0 !important;
	cursor: pointer;
	min-height: 34px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.select-type-btn.last{
	border-right: 1px solid white !important;
}

.login {
	width: 312px;
    border-bottom: 1px solid white;
    padding: 14px 0;
    float: left;
    user-selectable: none;
    font-family: 'Comfortaa', 'Helvetica', sans-serif;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@media (max-width: 500px) {
	.login {
		margin-left:15px;
		width: 100%;
		max-width: 297px;
		border-top: 0;
		border-left: 1px solid white;
		border-right: 1px solid white;
		font-size: 12px;
		font-size: 1.2rem;
	}
}

.login-form {
	padding: 0 15px;
	border-bottom: 1px solid white;
}

@media (max-width: 500px) {
	.login-form {
		padding: 0;
		max-width: 297px;
	}
}

.login-form button,
button {
	outline: 0 !important;
}

.form-group input {
	border: none;
	border-radius: 0;
	font-family: 'Comfortaa', 'Helvetica', sans-serif;
	letter-spacing: 1.2px;
	outline: 0;
}

.form-group label {
	color: white !important;
	font-family: 'Comfortaa', 'Helvetica', sans-serif;
}

.btn-primary {
	font-family: 'Comfortaa', 'Helvetica', sans-serif;
	letter-spacing: 1.2px;
	border: 1px solid white !important;
	border-radius: 0 !important;
	background-color: transparent !important;
	-webkit-transition: background-color 500ms ease .3s;
    -moz-transition: background-color 500ms ease .3s;
    -o-transition: background-color 500ms ease .3s;
    transition: background-color 500ms ease .3s;
	outline: 0;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: rgba(255, 255, 255, .25) !important;
	-webkit-transition: background-color 500ms ease .3s;
    -moz-transition: background-color 500ms ease .3s;
    -o-transition: background-color 500ms ease .3s;
    transition: background-color 500ms ease .3s;
}

input::-moz-selection { background-color: rgba(117, 117, 117, .35); }
input::selection { background-color: rgba(117, 117, 117, .35); }

/*TOP SHOWS CSS*/
.top_show_heading {
	font-family: 'Comfortaa', 'Helvetica', sans-serif !important;
	color: white !important;
}
.top_show_container {
	padding: 0 !important;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}
.ts_img > img {
	height: auto !important;
}
.ts_img {
	width: 33% !important;
}
.ts_desc {
	width: 66% !important;
}
.mCSB_inside>.mCSB_container {
	margin-right: 0 !important;
}

.tv_list {
	height: 115px !important;
	margin: 0 !important;
}

@media (min-width: 630px) {
	.ts_img > img {
		float: right;
	}
}

@media (max-width: 1200px) {
	.ts_desc {
		max-height: 223px !important;
	}
	#ls_theater, #ls_dvd {
		height: 220px !important;
	}
}

@media (max-width: 768px) {
	.ts_desc {
		max-height: 223px !important;
	}
}

@media (max-width: 480px) {
	.ts_desc {
		max-height: 193px !important;
	}
	#ls_theater, #ls_dvd {
		height: 180px !important;
	}
}

.top_show_container .nav-pills>li.active>a,
 .top_show_container .nav-pills>li.active>a:focus,
  .top_show_container .nav-pills>li.active>a:hover {
  	font-family: 'Comfortaa', 'Helvetica', sans-serif !important;
  	background: transparent;
  	border: none;
  	border-bottom: 2px solid #F3383A;
  	border-radius: 0 !important;
  	color: #F3383A;
  }

  .top_show_container .nav>li>a:focus,
   .top_show_container .nav>li>a:hover {
   	border: none;
   	background: transparent;
   	border-bottom: 2px solid #F3383A;
   	border-radius: 0;
   	color: #F3383A;
   }

  .top_show_container .nav-pills>li>a {
   		color: white;
   }

   @media (min-width: 481px) and (max-width: 992px) {
   	    .ts_container.dvd-container {
   	    	margin-top: 90px !important;
 		}
 		.tv_list {
			height: 115px !important;
			margin: 80px 0 0 0 !important;
		}
   }

   .tv_right {
   		height: 190px !important;
   }

/*OFF CANVAS FEATURES*/
.partner-form {
	padding: 0 7px;
}

.active-color {
	color: #F3383A;
}

.partner-wrap {
	/*border: 1px solid white;*/
	margin-top: 10px;
}

.partner-wrap .form-group label {
	float: left;
	padding-right: 10px;
}

ul#partners li {
    text-align: left !important;
}
/* /OFF CANVAS FEATURES/ */


/*Show Info*/

.cpk_img_container img {
	max-width: 100%;
	height: auto;
}

@media (min-width:768px ) {
	.cpk_img_container img {
	    float: right;
	    width: 100%;
	}
}

.cpk_show_title span {
	font-size: 20px;
}

@media (max-width: 768px) {
	.cpk_show_title span {
		margin-bottom: 20px;
	}
}

.cpk_data_container  ul#showtabs.nav-tabs>li.active>a,
.cpk_data_container  ul#showtabs.nav-tabs>li.active>a:focus,
.cpk_data_container  ul#showtabs.nav-tabs>li.active>a:hover {
	background: transparent;
	background: rgba(255, 255, 255, .1);
	border: 1px solid white;
	border-bottom: 0;
	font-family: 'Comfortaa', 'Helvetica', sans-serif !important;
	border-radius: 0 !important;
	color: white;
	letter-spacing: 1.1px;
	outline: 0;
}

.nav-tabs>li {
	margin-bottom: 0 !important;
}

.cpk_data_container .nav-tabs>li>a:hover,
.cpk_data_container .nav-tabs>li>a:focus,
.cpk_data_container  .nav>li>a:focus,
.cpk_data_container  .nav>li>a:hover {
	border: 0;
	background: transparent;
	border-radius: 0;
	border-color: transparent;
	margin: 0 !important;
	padding: 10px 15px !important;
	margin-right: 2px !important;
	line-height: 1.42857143;
}

.btn_play_movie {
    width: 100%;
    float: right;
    clear: right;
}

@media (max-width: 768px) {
	.btn_play_movie {
	    width: 150px;
	    margin-right: 15px;
	}
}

.nav-tabs>li>a {
	margin: 0 !important;
	margin-right: 2px !important;
	border-radius: 0 !important;
}

.search_rslt_header span {
    color: #F3383A;
}

.season ul li {
    padding: 8px 10px;
}

@media (max-width: 768px) {
	.cpk_show_info_container {
		padding: 8px 10px;
	}
	.cpk_show_title span  {
		padding-left: 10px;
	}
	.cpk_img_container > img {
		padding-left: 10px;
	}
}

.cpk_show_info_container {
	padding-top: 10px;
}

.cpk_data_container {
    text-align: left;
}

#next_link_container {
	margin-top: 15px !important;
}

.cpk_data_container {
    background: rgba(0,0,0,.4);
    padding: 20px 0 0 0;
    border: 4px solid black;
    height: 511px;
    border-left: 0;
    border-top: 0;
    overflow-y: auto;
}

.cpk_img_container {
    background: rgba(0, 0, 0, .4);
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    padding: 20px;
    height: 511px;
    border-top: 0;
    overflow-y: auto;
}
.cpk_show_episodes {
	margin-bottom: 0;
}

@media (max-width: 768px) {
	.cpk_data_container,
	.cpk_img_container {
		border: none;
		height: auto;
	}
	.cpk_data_container {
		padding-top: 0;
	}
	.cpk_img_container {
		padding-bottom: 5px;
	}
}

span.play-mov-btn i {
	font-size: 0px;
}

@media (min-width: 769px) and (max-width: 992px) {
	button.btn_play_movie {
		font-size: 0;
	}
	span.play-mov-btn i {
		display: block;
		font-size: 15px !important;
	}
}

@media (max-width: 768px) {
	button.btn_play_movie {
		font-size: 14px;
	}
	span.play-mov-btn i {
		font-size: 0px;
	}
	.cpk_show_container,
	 .cpk_data_container {
	 	border-bottom: 2px solid black;
	 }
}


aside .container {
	padding-bottom: 20px !important;
}

header.header-two-bars {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

header.header-two-bars.hide-me {
    position: fixed;
    width: 100%;
    top: -80px;
    z-index: 99;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

#toggleMenuSide.fixed {
    position: fixed;
    z-index: 999;
    background: rgba(255, 255, 255, .025);
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

#toggleMenuSide.fixed:hover,
#toggleMenuSide.fixed:focus {
	background: rgba(255, 255, 255, .055);
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

#toggleMenuSide.fixed:active {
	background: rgba(255, 255, 255, .075);
	-webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

#toggleMinimal {
    margin: 0;
    padding: 13px 0;
    width: 100%;
    letter-spacing: 1.1px;
    text-transform: uppercase;
	border-bottom: 1px solid white;
	width: 100% !important;
}

@media (max-width: 769px) {
	#toggleMinimal {
		display: none;
	}
}

.admin-panel.full-hieght {
	max-height: 100% !important;
	margin-top: 0px !important;
}

p.new-user {
	margin: 10px 0;
	text-align: center;
}

p.new-user a {
	color: white;
	color: rgba(255, 255, 255, .75);
	text-decoration: none !important;
}

p.new-user a:hover,
p.new-user a:focus {
	color: white;
	color: rgba(255, 255, 255, .1);
}

.source_pager {     
	list-style-type: none;
    margin: 0;
    padding: 1px 0;
    width: 100%;
    background: #2D2D2D;
	max-height: 225px;
	overflow: auto;
}
.source_pager li {
    margin: 3px 0;
    padding: 6px 12px;
    font-size: 16px;
    background: rgba(36, 36, 36, .3);
    color: white;
    cursor: pointer;
}
.source_pager li span {
	position: absolute;
	margin-left: 0;
	cursor: pointer;
}
.sources_list {
    width: 100%;
    max-width: 305px;
    margin: 0 auto;
    display: block;
	padding-left: 15px;
	padding-right: 15px;
}

ul.pagination-sources {
	display: inline-block;
	text-align: center;
	width: 100%;
	margin: 0 auto !important;
}

ul.pagination-sources li {
	display: inline;
	list-style-type: none;
}

ul.pagination-sources li span {
    padding: 10px;
    margin: 0;
	color: rgba(255, 255, 255, .4);
	display: inline-block;
	color: white;
	cursor: pointer;
}